/* MAIN */

body {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: .8rem;
    line-height: 1.5;
}
.ajnr-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #b3c7c68a;
}
.sec-break {
    padding-top: 1vh;
    background-color: white;
    width: 100%;
}
hr {
    margin: 5vh auto 0;
    width: 5%;
    border-bottom: 1vh dotted #bbbfbe;
    background-color: white;
    border-top: 0;
}	
/* NAV */

.navbar {
    padding: 0 5vh;
    position: fixed;
    width: -webkit-fill-available;
    background-color: #bbbfbe;
    z-index: 1;
}
.navbar a, .navbar-button {
    color: #31282880;
}
.navbar a:hover, .navbar-button:hover {
    color: #3E5151;
    text-decoration: none;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 0 0 3vh;
}
.nav-link {
    font-size: 1rem;
    padding-right: .5rem;
}

/* ABOUT */

.aboutsec {
    margin: 10vh auto;
}
.about-intro {
    font-size: 1.2rem;
    width: -webkit-fill-available;
    color: #292929;
    text-align: justify;
    text-indent: 20vh;
}
.about-img {
    max-width: 80%;
    border-radius: 50%;
    border: 1px solid;
    box-shadow: 2px 2px 4px #8e8e8e;
    margin: auto;
    display: block;
}

/* ARTICLES */

.articlesec {
    padding: 15vh;
    background-color: white;
    width: 100%;
}
.article-box {
    padding: 5vh;
}
/* RESPONSIVE */

@media only screen and (max-width: 991px) {
    .about-intro {
	font-size: .9rem;
    }
}
@media only screen and (max-width: 767px) {
    .about-img {
	margin: 0 auto 10%;
    }
}
