/* MAIN */
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: .8rem;
    line-height: 1.5;
}
.ajnr-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.sec-break {
    background-color: white;
    width: 100%;
    margin: 5vh 0;
}
hr {
    width: 5%;
    border-bottom: 1vh dotted #bbbfbe;
    border-top: 0;
    margin: 0 auto;
}
	
/* NAV */
#nav {
    background-color: #bbbfbe;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 1;
}
.navbar {
    padding: 0 5vh;
}
.navbar a, .navbar-button {
    color: #31282880;
}
.navbar a:hover, .navbar-button:hover {
    color: #3E5151;
    text-decoration: none;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 0 0 3vh;
}
.nav-link {
    font-size: 1rem;
    padding-right: .5rem;
}

/* ABOUT */
#about {
    background: #b3c7c68a;
}
.aboutsec {
    width: -webkit-fill-available;
    margin: 0 auto;
    padding: 10vh 0 5vh;
}
.about-intro {
    font-size: 1.2rem;
    width: -webkit-fill-available;
    color: #292929;
    text-align: justify;
    text-indent: 20vh;
    animation: fadeEffect 3s;
}
@keyframes fadeEffect {
   from {opacity: 0;}
   to {opacity: 1;}
}
.about-img {
    max-width: 80%;
    border-radius: 50%;
    border: 1px solid;
    box-shadow: 2px 2px 4px #8e8e8e;
    margin: auto;
    display: block;
}
.about-cv {
    width: -webkit-fill-available;
    margin: 0 auto;
    padding-top: 10vh;
}
.about-cv h3 {
    text-transform: uppercase;
    color: #333333;
    border-bottom: 1.2px solid #333333;
}
.cv {
    width: 80%;
    margin: 3vh auto;
    line-height: 2;
}
.cv-part1 {
    padding: 2vh;
}
.cv-date {
    text-align: center;
}
.cv-post {
    border-left: 1px solid;
}
.cv-part2 {
    border: 1px solid;
    padding: 2vh;
    background: #bbbfbe;
}
.cv-contact {
    padding: 2vh 5vh;
}
.cv-skills {
    width: 85%;
    margin: 3vh auto;
    line-height: 2;
}
.skillBox {
    padding: 0;
}
.skillRate {
    margin: 1vh 0;
    width: -webkit-fill-available;
    padding: 0;
    background: #d6d6d6;
    border: 1px solid;
    box-shadow: 1px 2px #808080e3;
}
.rate {
    background: #3dbec3;
    padding-left: 2vh;
}
.rate-10 {
    background: linear-gradient(90deg, #3dbec3 10%, #d6d6d6 0%);
}
.rate-60 {
    background: linear-gradient(90deg, #3dbec3 60%, #d6d6d6 0%);
}
.rate-70 {
    background: linear-gradient(90deg, #3dbec3 70%, #d6d6d6 0%);
}
.rate-80 {
    background: linear-gradient(90deg, #3dbec3 80%, #d6d6d6 0%);
}
.rate-90 {
    background: linear-gradient(90deg, #3dbec3 90%, #d6d6d6 0%);
}
.rate-100 {
    background: linear-gradient(90deg, #3dbec3 100%, #d6d6d6 0%);
}

/* ARTICLES */

section#articles {
    background-color: white;
}
.articlesec {
    padding: 3vh;
    width: 100%;
}
.article-box {
    padding: 5vh;
}

/* GALLERY */
#gallery {
    background: #b3c7c68a;
}


/* RESPONSIVE */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body {
	font-size: .6rem;
    }
    hr {
        width: 20%;
	border-bottom: .7vh dotted #bbbfbe;
    }
    .aboutsec {
	padding: 10vh 5vh 0;
    }
    .about-intro {
	font-size: .8rem;
	margin: 2vh;
	text-indent: 10vh;
    }
    .about-cv {
	width: -webkit-fill-available;
	margin: 3vh auto;
	padding-top: 0;
    }
    .cv {
	width: 80%;
	margin: 2vh auto;
	line-height: 2;
    }
    .cv-part1 {
	order: 2;
	margin: 2vh 0;
    }
    .cv-post {
	border-top: 1px solid;
	border-left: 0;
	padding: 0;
    }
    .cv-contact {
	padding: 2vh 1vh;
    }
    .cv-part2 {
	order: 1;
    }
    .cv-skills {
	width: 100%;
	margin: 2vh auto;
    }
    .articlesec {
	padding: 10vh 5vh;
    }
    .article-box h3 {
	font-size: 1.25rem;
    }
    .container-likes img {
        max-width: 12vw;
        height: 5vh;
        margin: 0 auto;
        display: block;
    }
    span.fas.fa-heart {
        font-size: 0.5rem;
    }
    h3 {
	font-size: 1.25rem;
    }
    h5 {
	font-size: 1rem;
    }
    h6 {
	font-size: .8rem;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
	font-size: .7rem;
    }
    hr {
        width: 10%;
	border-bottom: .7vh dotted #bbbfbe;
    }
    .about-intro {
	font-size: 1rem;
    }
    .about-img {
	margin: 0 auto 10%;
    }
    .articlesec {
	padding: 10vh 5vh 1vh;
    }
    .aboutsec {
	padding: 10vh 5vh 0;
    }
    .cv-skills {
	width: 100%;
    }
    .cv-part1 {
	order: 2;
	margin: 2vh 0;
    }
    .cv-part2 {
	order: 1;
    }
    h3 {
	font-size: 1.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    hr {
        width: 10%;
    }
    .about-intro {
	font-size: 1rem;
    }
    .cv {
	width: 100%;
    }
    .cv-skills {
	width: 100%;
    }
    .cv-contact {
	padding: 2vh 0;
	font-size: .7rem;
    }
    h3 {
	font-size: 1.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .cv-contact {
	padding: 2vh;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}

